.jumbotron {
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(to right, gray, black, black, red);
  color: white; 
}

.title {
   font-style: italic;
   font-family: sans-serif;
}

a {
  font-style: oblique;
}

.footer {
  background-image: linear-gradient(to right, gray, white, gray);
  padding: 20px 0;
}